---
import { ViewTransitions } from "astro:transitions";
import { HydrationScript } from "solid-js/web";
---

<meta charset="utf-8" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<title>Do you even mtg??</title>
<ViewTransitions />
<!-- <HydrationScript /> -->
