---
import ThemeToggle from "./ThemeToggle.jsx";
import SearchBar from "./SearchBar";
import ReactiveHeader from "./ReactiveHeader";

const { geez } = Astro.props;
---

<!-- this is here solely for when the page refreshes or inital page load
     it's gross, but like, fuck it -->
<script is:inline>
	const theme = localStorage.getItem("theme");
	// document.documentElement.classList.add("dark");
	if (
		(theme === "auto" &&
			window.matchMedia("(prefers-color-scheme: dark)").matches) ||
		theme === "dark"
	) {
		document.documentElement.classList.add("dark");
	} else {
		document.documentElement.classList.remove("dark");
	}
</script>

<div class="m-auto max-w-screen-xl w-11/12 flex justify-center">
	<header class="flex grow p-4 relative justify-center">
		<ReactiveHeader client:load />
	</header>
</div>
